.aboutProject {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0 70px;
}

.aboutProject__title {
  color: #000;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.21;
  text-align: left;
  margin: 110px 0 0;
  padding-bottom: 23px;
  border-bottom: solid black 1px;
  width: 100%;
}

.aboutProject__text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.aboutProject__text {
  display: block;
  margin: 26px 0 0 40px;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
}

.aboutProject__text:first-child {
  margin-left: 0;
}

.aboutProject__progress-container {
  margin: 110px 0 96px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 36px 45px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.aboutProject__progress-bar {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  padding: 9px 0;
  margin: 0;
}

.aboutProject__progress-bar_type_backend {
  background-color: #2be080;
}

.aboutProject__progress-bar_type_frontend {
  background-color: #f2f2f2;
}

.aboutProject__caption {
  color: #a0a0a0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
}

@media screen and (max-width: 780px) {
  .aboutProject {
    padding: 0 50px;
  }
  
  .aboutProject__title {
    font-size: 18px;
    padding-bottom: 28px;
    margin-top: 90px;
  }

  .aboutProject__text {
    margin: 22px 0 0 30px;
    font-size: 12px;
    line-height: 1.5;
  }
 
  .aboutProject__progress-container {
    margin: 93px 0 76px;
  }
}

.aboutProject__text_title {
  margin-top: 70px;
  font-size: 20px;
  line-height: 1.21;
}

@media screen and (max-width: 550px) {
  .aboutProject {
    padding: 0 18px;
  }
  
  .aboutProject__title {
    margin-top: 70px;
  }

  .aboutProject__text-container {
    flex-direction: column;
  }
  
  .aboutProject__text {
    margin: 16px 0 0;
    font-size: 11px;
    line-height: 1.45;
  }
 
  .aboutProject__progress-container {
    margin: 60px 0 70px;
    grid-template-columns: 33% 67%;
    grid-template-rows: 35px 33px;
  }

  .aboutProject__progress-bar {
    font-size: 11px;
    padding: 11px 0;
  }

  .aboutProject__caption {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.16;
  }

  .aboutProject__text_title {
    margin-top: 60px;
    font-size: 18px;
  }
}

