.header {
  position: relative;
  margin: 0 auto;
  padding: 0 70px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas: 'logo menu profile';
  justify-items: stretch;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.header__link {
  grid-area: logo;
  margin: 0;
  padding: 0;
  transition: opacity 0.4s ease;
}

.header__link:hover {
  opacity: 0.6;
}

.header__logo {
  margin: 18px 0;
  width: 38px;
  height: 38px;
  object-fit: cover;
}

.header__burger {
  display: none;
}

.header__nav {
  grid-area: menu;
}

.header__text {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  margin: auto 16px auto 0;
}

.header__text:last-child {
  margin-right: 0;
}

.header__text_active {
  font-weight: 500;
}

.header__text_block_profile {
  font-weight: 500;
}

.header__nav-link {
  transition: opacity 0.4s ease;
}

.header__nav-link:hover {
  opacity: 0.7;
}

.header__profile-icon {
  width: 12px;
  height: 14px;
  margin-left: 8px;
}

.header__profile-container {
  grid-area: profile;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .header {
    grid-template-columns: repeat(2, auto);
    grid-template-areas: 'logo menu';
    padding: 0 30px;
  }

  .header__burger {
    justify-self: end;
    display: block;
    position: relative;
    width: 28px;
    height: 23px;
    grid-area: menu;
    cursor: pointer;
  }

  .header__burger:before {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 0;
  }

  .header__burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
  }

  .header__burger-middle {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 10px;
  }
  
  .header__nav {
    display: none;
  }

  .header__profile-container {
    display: none;
  }

}
